<!DOCTYPE html>
<html ng-app="app">
  
  <head>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="bower_components/foundation/css/normalize.css" />
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
    
  </head>

  <body>
    <div class="container" ng-controller="MainCtrl">
      <ul class="nav">
        <li ng-repeat="(key, value) in features track by key">
          <button ng-click="logResponse(key)">{{key}}</button>
        </li>
      </ul>
      <input type="text" ng-model="search" placeholder="type something to search"/>
      <ul>  
        <li ng-repeat="article in currentFeature.objects | filter:search"> 
          <table class="responsive">
            <thead>
              <tr>
                <th ng-repeat="(key, value) in article">{{::key}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td ng-repeat="(key, value) in article">{{::value}}</td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>
        </li>
      </ul>
    </div>
    
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/MainCtrl.js"></script>
  </body>

</html>
